<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Verifica www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

# Verifica requisições POST
RewriteCond %{REQUEST_METHOD} !^POST$

# Se estiver recebendo uma requisição http de um proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

#...ou só uma requisição diretamente do cliente
RewriteCond %{HTTP:X-Forwarded-Proto} =""
RewriteCond %{HTTPS} !=on

# Redireciona para a versão HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

</IfModule>
