@font-face {
  font-family: "New York";
  font-style: normal;
  font-weight: normal;
  src: local("New York Extra Large Bold"),
    url("../fonts/NewYorkExtraLargeBold.woff") format("woff");
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  padding-top: 125px;
}

header.display-mini-header {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

a {
  color: #156799;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
}

nav.display-mini-header .navbar-nav .nav-link:hover {
  color: #ccc;
}

.top {
  background-color: #fafafa;
  padding: 70px 0;
}

.top h1 {
  font-family: "New York";
  font-size: 48px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.top h1 span {
  color: #156799;
}

.top h2,
.top p {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

.top h2 {
  margin-bottom: 40px;
}

.btn-phone {
  background-color: #156799;
  color: #fff;
  cursor: auto !important;
  font-size: 14px;
  font-weight: 700;
}

.btn-phone:hover {
  color: #fff;
}

.btn {
  padding: 15px 40px;
}

.radius {
  border-radius: 5px;
}

.content {
  padding: 70px 0;
}

.content.gray {
  background-color: #fafafa;
}

.content h3 {
  font-family: "New York";
  font-size: 30px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.content p {
  line-height: 32px;
}

.content ul {
  padding: 0;
}

.content li {
  font-size: 18px;
  line-height: 32px;
  list-style: none;
  margin-bottom: 10px;
}

.content li i {
  color: #156799;
}

.row.title {
  padding-bottom: 70px;
  text-align: center;
}

.row.title h2 {
  font-family: "New York";
  font-size: 40px;
  letter-spacing: -0.04em;
}

.row.title h2 span {
  display: block;
}

.row.title h2 strong {
  color: #156799;
}

.contact {
  padding: 150px 0 75px;
}

.contact h2 {
  font-family: "New York";
  font-size: 40px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.contact .sub {
  border-bottom: 1px solid #d8d8d8;
  line-height: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.contact p span {
  display: block;
}

.contact p b {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 15px;
}

.contact iframe {
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  margin-top: 30px;
}

.depoimentos {
  background-color: #156799;
}

.depoimentos h2 {
  color: #fff;
  font-family: "New York";
  font-size: 40px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  padding: 80px 0 0;
  text-align: center;
}

.lista-depos {
  position: relative;
  padding: 0;
  margin: 20px 0 80px !important;
}

.depo {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  padding: 0 10%;
  text-align: center;
}

.autor {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
  text-align: center;
}

.empresa {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.slick-button {
  background: transparent;
  border: none;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -70%);
}

.slick-list {
  cursor: grab;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.slick-slide img {
  display: inline-block !important;
  height: 60px;
}

.clientes {
  padding: 0;
}

.clientes .slick-slide {
  padding: 0 40px;
  text-align: center;
}
.slick-slide:focus {
  outline: none;
}

.clientes .slick-slide div {
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 15px 0;
}

.clientes .slick-slide.slick-current div {
  border-color: #fff;
}

.numbers {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: -80px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.number {
  color: #156799;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

footer {
  background-color: #156799;
  padding: 25px 0;
  text-align: center;
}

.logo-rodape {
  margin-bottom: 30px;
}

.copy {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.social {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social li {
  list-style: none;
}

.social li a {
  color: #fff;
}

.full-content {
  background: url(../img/content-img.png) no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 80px;

  .meta {
    background: #fff;
    text-align: center;
    padding: 48px 0;

    h1 {
      font-family: "New York";
    }
    p {
      margin-bottom: 0;
      padding-top: 32px;
      position: relative;

      &:before {
        background-color: #156799;
        content: "";
        height: 3px;
        left: 50%;
        position: absolute;
        width: 80px;
        transform: translate(-50%, -20px);
      }
    }
  }

  .primeira-img {
    float: right;
    max-height: 387px;
    display: none;
  }

  .segunda-img {
    max-height: 401px;
    display: none;
  }

  .conteudo {
    background-color: #fff;
    padding: 48px;

    p {
      font-size: 16px;
      text-align: justify;

      b {
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 768px) {
  .full-content {
    padding-top: 140px;
  }
  .logo-rodape {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .primeira-img {
    margin-bottom: 24px;
  }

  .inverse {
    flex-direction: column-reverse;
  }

  .navbar-collapse {
    margin: 10px 0 0 0;
    text-align: center;
  }

  .nav-item {
    border-bottom: solid 1px #dfdfdf;
    padding: 10px 0;
  }

  .content img {
    margin-top: 25px;
  }

  .numbers {
    width: 90%;
    margin-bottom: -300px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .contact {
    padding-top: 360px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    padding: 35px 0 0 40px;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .full-content {
    background-position: center -35px;
    padding-top: 250px;

    .spacer {
      height: 30px;
    }
    .primeira-img,
    .segunda-img {
      display: block;
    }
  }
}

@-webkit-keyframes slide-in-header {
  0% {
    margin-top: -30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes slide-in-header {
  0% {
    margin-top: -30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@-o-keyframes slide-in-header {
  0% {
    margin-top: -30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes slide-in-header {
  0% {
    margin-top: -30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
